* {
    box-sizing: border-box;
}

/*common*/
header, section, footer {
    width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/*header*/
#header {
    height: 90px;
    background-color: black;
    position: fixed;
    z-index: 2;
}

p a.nameAndSurname {
    float: left;
    line-height: 90px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin-right: 10px;
    font-size: 18px;
}

.logo {
    width: 75px;
    height: 75px;
    float: left;
}

nav ul.menuHeader {
    float: right;
}

.menuHeader {
    word-spacing: -0.5px;
    position: absolute;
    left: 400px;
    width: 950px;
}

.menuHeader li a:first-child {
    word-spacing: 2px;
}


.menuHeader li {
    display: inline-block;
    line-height: 90px;
    margin-right: 20px;
    position: relative;
}


.menuHeader li#animacjaPobierzCV {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 3px;
    right: 85px;
    line-height: 40px;
    font-size: 18px;
}

#animacjaPobierzCV {
    width:80px;
    height:80px;
    margin:0 auto;
    background-color:#000;
    color:white;
    text-align:center;
    line-height:25px;
    font-size:15px;
    animation:naszaAnimacja 4s linear infinite;
}

@keyframes naszaAnimacja
{
    0% { transform:perspective(300px) rotateY(0); }
    100% { transform:perspective(300px) rotateY(360deg); }
}

.menuHeader li a {
    text-decoration: none;
    color: #848484;
    display: block;
    font-weight: bold;
    letter-spacing: 0;
}

.menuHeader li#animacjaPobierzCV:hover {
    width: 100px;
    height: 75px;
}


.menuHeader li:hover > a {
    color: white;
    transition-delay: 0.20s;
    -webkit-transition-duration: 0.20s;
}

.menuHeader ul {
    display: none;
    margin: 0;
    padding: 0;
    left: 0;
    position: absolute;
    width: 140px;
    top: 75px;
    background-color: black;
    text-align: center;
}

.menuHeader ul li {
    float: none;
    margin: 0;
    padding: 0;
}

.menuHeader li ul li {
    width: 200px;
    text-align: center;
    background-color: black;
    font-size: 18px;
    border: 2px solid white;

}

.menuHeader li:hover > ul {
    display: block;
    position: absolute;
    left: -50px;
    top: 90px;
}

.menuHeader ul li ul:hover  {
    display: block;
    position: absolute;
    left: -50px;
    top: 90px;
}


/*gallery*/
#gallery {
    height: 660px;
    z-index: 1;
}

.mySlides {
    width: 100%;
    height: 750px;
    background-size: cover;
}

/*attribiutes*/
#attribiutes {
    height: 500px;
    background-color: black;
    position: relative;
    z-index: 1;

}

#attribiutes h2 {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 50px;
    left: 600px;
    font-weight: bold;
}


p.kreatywnosc {
    position: absolute;
    top: 180px;
    left: 125px;
    font-weight: bold;
    color: white;
}

.imgKreatywnosc {
    height: 150px;
    width: 150px;
    background-image: url("../images/kreatywnosc.png");
    background-size: cover;
    position: absolute;
    top: 230px;
    left: 100px;
    border: 2px solid white;
}

p.odpowiedzialnosc {
    position: absolute;
    top: 180px;
    left: 427px;
    font-weight: bold;
    color: white;
}

.imgOdpowiedzialnosc {
    height: 150px;
    width: 150px;
    background-image: url("../images/Odpowiedzialnosc.png");
    background-size: cover;
    position: absolute;
    top: 230px;
    left: 428px;
    border: 2px solid white;
}

p.motywacja {
    position: absolute;
    top: 180px;
    right: 435px;
    font-weight: bold;
    color: white;
}

.imgMotywacja {
    height: 150px;
    width: 150px;
    background-image: url("../images/Motywacja.png");
    background-size: cover;
    position: absolute;
    top: 230px;
    right: 428px;
    border: 2px solid white;
}

p.determinacja {
    position: absolute;
    top: 180px;
    right: 96px;
    font-weight: bold;
    color: white;
}

.imgDeterminacja {
    height: 150px;
    width: 150px;
    background-image: url("../images/Determinacja.png");
    background-size: cover;
    position: absolute;
    top: 230px;
    right: 100px;
    border: 2px solid white;
}


/*projects*/
#projects {
    height: 1000px;
    background-color: black;
    position: relative;
}

#projects h2 {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 10px;
    left: 600px;
    font-weight: bold;
}

#projects .container {
    position: absolute;
    top: 100px;
    left: 75px;
}

.firstProjectDescription {
     float: left;
     height: 286px;
     width: 600px;
     border: 2px solid white;
}

.firstProjectDescription h3 {
    font-family: 'Patrick Hand', cursive;
    position: absolute;
    top: 75px;
    left: 180px;
    color: white;
    font-size: 25px;

}

.firstProjectDescription p{
    font-family: 'Kalam', cursive;
    position: absolute;
    top: 120px;
    left: 50px;
    color: white;
    width: 450px;
    text-align: left;
    text-indent: 40px;
}

.firstProjectDescription li {
    position: absolute;
    top: 200px;
    left: 200px;
}

button.checkCodeFirstButtonFirstProject {
    position: absolute;
    top: 200px;
    left: 125px;
    border-radius: 5px;
    height: 35px;
    background-color: white;
}

button.checkCodeSecondButtonFirstProject {
    position: absolute;
    top: 200px;
    left: 320px;
    border-radius: 5px;
    height: 35px;
    background-color: white;
}

button.checkCodeFirstButtonFirstProject:hover, button.checkCodeSecondButtonFirstProject:hover {
    background-color: black;
    border: 4px solid white;
}

a.firstLinkFirstProject {
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
    font-size: 19px;
    font-weight: bold;
    color: black;
}

a.secondLinkFirstProject {
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
    font-size: 19px;
    font-weight: bold;
    color: black;
}

a.firstLinkFirstProject:hover, a.secondLinkFirstProject:hover {
    color: white;
}

button.checkCodeFirstButtonFirstProject:hover, button.checkCodeSecondButtonFirstProject:hover {
    background-color: black;
    border: 4px solid white;
}

.imgFirstDescription {
    background-image: url("../images/SitOnOurChairProject.png");
    float: left;
    height: 286px;
    width: 600px;
    border: 2px solid white;
}

.secondProjectDescription {
    float: left;
    height: 286px;
    width: 600px;
    border: 2px solid white;
    position: relative;
}

.imgSecondDescription {
    background-image: url("../images/MemoryGame2.0.png");
    float: left;
    height: 286px;
    width: 600px;
    border: 2px solid white;
}

.secondProjectDescription h3 {
    font-family: 'Patrick Hand', cursive;
    position: absolute;
    top: 75px;
    left: 220px;
    color: white;
    font-size: 25px;
}

.secondProjectDescription p {
    font-family: 'Kalam', cursive;
    position: absolute;
    top: 120px;
    left: 50px;
    color: white;
    text-indent: 40px;
}

.secondProjectDescription li {
    position: absolute;
    top: 200px;
    left: 200px;
}

button.checkCodeFirstButtonSecondProject {
    position: absolute;
    top: 200px;
    left: 125px;
    border-radius: 5px;
    height: 35px;
    background-color: white;
}

button.checkCodeSecondButtonSecondProject {
    position: absolute;
    top: 200px;
    left: 320px;
    border-radius: 5px;
    height: 35px;
    background-color: white;
}

button.checkCodeFirstButtonSecondProject:hover, button.checkCodeSecondButtonSecondProject:hover  {
    background-color: black;
    border: 4px solid white;
}

a.firstLinkSecondProject {
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
    font-size: 19px;
    font-weight: bold;
    color: black;
}

a.secondLinkSecondProject {
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
    font-size: 19px;
    font-weight: bold;
    color: black;
}

a.firstLinkSecondProject:hover, a.secondLinkSecondProject:hover {
    color: white;
}

button.checkCodeFirstButtonSecondProject:hover, button.checkCodeSecondButtonSecondProject:hover {
    background-color: black;
    border: 4px solid white;
}

.thirdProjectDescription {
    float: left;
    height: 286px;
    width: 600px;
    border: 2px solid white;
    position: relative;
}

.thirdProjectDescription h3 {
    font-family: 'Patrick Hand', cursive;
    position: absolute;
    top: 50px;
    left: 220px;
    color: white;
    font-size: 25px;
}

.thirdProjectDescription p {
    font-family: 'Kalam', cursive;
    position: absolute;
    top: 95px;
    left: 50px;
    color: white;
    text-indent: 40px;
}

.thirdProjectDescription li {
    position: absolute;
    top: 200px;
    left: 200px;
}

button.checkCodeFirstButtonThirdProject {
    position: absolute;
    top: 200px;
    left: 125px;
    border-radius: 5px;
    height: 35px;
    background-color: white;
}

button.checkCodeSecondButtonThirdProject {
    position: absolute;
    top: 200px;
    left: 320px;
    border-radius: 5px;
    height: 35px;
    background-color: white;
}

button.checkCodeFirstButtonThirdProject:hover, button.checkCodeSecondButtonThirdProject:hover  {
    background-color: black;
    border: 4px solid white;
}

a.firstLinkThirdProject {
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
    font-size: 19px;
    font-weight: bold;
    color: black;
}

a.secondLinkThirdProject {
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
    font-size: 19px;
    font-weight: bold;
    color: black;
}

a.firstLinkThirdProject:hover, a.secondLinkThirdProject:hover {
    color: white;
}

button.checkCodeFirstButtonThirdProject:hover, button.checkCodeSecondButtonThirdProject:hover {
    background-color: black;
    border: 4px solid white;
}

.imgThirdDescription {
    background-image: url("../images/OrganizerApp.png");
    float: left;
    height: 286px;
    width: 600px;
    border: 2px solid white;
}

/*edukacja*/
#education {
    height: 1000px;
    background-color: black;
    position: relative;
}

#education h2 {
    position: absolute;
    font-size: 30px;
    color: white;
    top: 10px;
    left: 600px;
    font-weight: bold;
}

#education .container {
    position: absolute;
    top: 100px;
    left: 75px;
}

.firstSchoolDescription {
    float: left;
    height: 286px;
    width: 600px;
    border: 2px solid white;
}

.firstSchoolDescription h3 {
    font-family: 'Patrick Hand', cursive;
    position: absolute;
    top: 75px;
    left: 250px;
    color: white;
    font-size: 25px;

}

.firstSchoolDescription p{
    font-family: 'Kalam', cursive;
    position: absolute;
    top: 120px;
    left: 50px;
    color: white;
    width: 450px;
    text-align: left;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!*/
.firstSchoolDescription a {
    position: absolute;
    top: 220px;
    left: 240px;
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.firstSchoolDescription p span {
    text-decoration: underline;
    font-weight: bold;
}

.firstSchoolDescription li {
    position: absolute;
    top: 200px;
    left: 200px;
}

.imgFirstSchool {
    background-image: url("../images/codersLab.png");
    float: left;
    height: 286px;
    width: 600px;
    border: 2px solid white;
}

.secondSchoolDescription {
    float: left;
    height: 286px;
    width: 600px;
    border: 2px solid white;
    position: relative;
}

.imgSecondSchool {
    background-image: url("../images/UPV.png");
    float: left;
    height: 286px;
    width: 600px;
    border: 2px solid white;
}

.secondSchoolDescription h3 {
    font-family: 'Patrick Hand', cursive;
    position: absolute;
    top: 75px;
    left: 120px;
    color: white;
    font-size: 25px;
}

.secondSchoolDescription p {
    font-family: 'Kalam', cursive;
    position: absolute;
    top: 120px;
    left: 50px;
    color: white;
    text-indent: 40px;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.secondSchoolDescription a {
    position: absolute;
    top: 180px;
    left: 265px;
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.thirdSchoolDescription {
    float: left;
    height: 286px;
    width: 600px;
    border: 2px solid white;
    position: relative;
}

.thirdSchoolDescription h3 {
    font-family: 'Patrick Hand', cursive;
    position: absolute;
    top: 75px;
    left: 135px;
    color: white;
    font-size: 25px;
}

.thirdSchoolDescription p {
    font-family: 'Kalam', cursive;
    position: absolute;
    top: 120px;
    left: 50px;
    color: white;
    text-indent: 40px;
}
/*!!!!!!!!!!!!!!!!!!!!!!!*/
.thirdSchoolDescription a {
    position: absolute;
    top: 180px;
    left: 235px;
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!*/

.imgThirdSchool {
    background-image: url("../images/UP.png");
    float: left;
    height: 286px;
    width: 600px;
    border: 2px solid white;
}

/*UMIEJĘTNOŚCI*/
#skills {
    height: 400px;
    background-color: black;
    position: relative;
}

#skills h2 {
    color: white;
    position: absolute;
    font-size: 30px;
    top: 10px;
    left: 560px;
    font-weight: bold;
}

/*animacja pasku postępu - początek kodu*/
.progress{
    position: relative;
    height: 25px;
    margin: 20px 0 20px 0;
    background: #bdc3c7;
    width: 200px;
}

.one{
    border-radius: 25px;
}
.two{
    box-shadow        : inset 0 1px 1px rgba(0,0,0,0.3);
}
.three{
    padding: 5px;
}

.progress > span {
    display: block;
    height: 100%;
    background-color: rgb(230, 126, 34);
    box-shadow:
            inset 0 2px 9px  rgba(255,255,255,0.3),
            inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}
.progress.one > span{
    border-radius: 25px;
    background-color: rgb(52, 73, 94);
}
.progress.two > span{
    background-color: rgb(52, 152, 219);
}
.progress.three > span{
    background-color: rgb(43,194,83);
}
.progress.four > span:after{
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image:
            -webkit-gradient(linear, 0 0, 100% 100%,
            color-stop(.25, rgba(255, 255, 255, .2)),
            color-stop(.25, transparent), color-stop(.5, transparent),
            color-stop(.5, rgba(255, 255, 255, .2)),
            color-stop(.75, rgba(255, 255, 255, .2)),
            color-stop(.75, transparent), to(transparent)
            );
    z-index: 1;
    -webkit-background-size: 50px 50px;
    -webkit-animation: move 2s linear infinite;
    overflow: hidden;
}
.progress.five > span{
    background-color: rgb(155, 89, 182);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(155, 89, 182)),
            color-stop(1, rgb(155, 89, 182))
    );
}
.progress.five > span:after{
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image:
            -webkit-gradient(linear, 0 0, 100% 100%,
            color-stop(.25, rgba(255, 255, 255, .2)),
            color-stop(.25, transparent), color-stop(.5, transparent),
            color-stop(.5, rgba(255, 255, 255, .2)),
            color-stop(.75, rgba(255, 255, 255, .2)),
            color-stop(.75, transparent), to(transparent)
            );
    z-index: 1;
    -webkit-background-size: 100px 100px;
    -webkit-animation: move 2s linear infinite;
    overflow: hidden;
}
@-webkit-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}
/*animacja paska postępu - koniec kodu*/

.firstAnimationSkills {
    position: absolute;
    top: 265px;
    left: 100px;
}

.secondAnimationSkills {
    position: absolute;
    top: 125px;
    left: 420px;
}

.thirdAnimationSkills {
    position: absolute;
    top: 205px;
    left: 725px;
}

.fourthAnimationSkills {
    position: absolute;
    top: 150px;
    right: 100px;
}

.firstAnimationSkills p, .secondAnimationSkills p, .thirdAnimationSkills p, .fourthAnimationSkills p {
    font-family: 'Patrick Hand', cursive;
    font-weight: 700;
    color: white;
    font-size: 20px;
}


/*Mapa*/
#maps {
    height: 450px;
}

#mapsKontener {
    width: 100%;
    height: 450px;
}


/*Stopka kontaktowa*/
#contact {
    height: 460px;
    background-color: black;
    position: relative;
}

#formularz {
    position: absolute;
    width: 400px;
    height: 425px;
    left: 110px;
}

#formularz h2 {
    font-family: 'Patrick Hand', cursive;
    color: white;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
    position: absolute;
    top: 20px;
}

#form {
    position: absolute;
    top: 60px;
}

#name {
    position: absolute;
    top: 25px;
    height: 30px;
    width: 250px;
    border-radius: 4px;
    padding: 7px;
}

#surname {
    position: absolute;
    top: 75px;
    height: 30px;
    width: 250px;
    border-radius: 4px;
    padding: 7px;
}

#email {
    position: absolute;
    top: 125px;
    height: 30px;
    width: 250px;
    border-radius: 4px;
    padding: 7px;
}

#message {
    position: absolute;
    top: 175px;
    height: 100px;
    width: 250px;
    border-radius: 4px;
    padding: 7px;
}

#sendBtn {
    font-family: 'Patrick Hand', cursive;
    position: absolute;
    top: 295px;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}


/*Początek animacji - sześcian*/
#perspektywa {
    width:100px;
    height:100px;
    margin:0 auto;
    perspective:300px;
    -webkit-perspective:300px;
    position: absolute;
    top: 125px;
    left: 625px;
}

#rodzic {
    width:100%;
    height:100%;
    position:relative;
    transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
    animation:obrot 4s linear infinite;
    -webkit-animation:obrot 4s linear infinite;
}

#rodzic > div {
    width:100%;
    height:100%;
    position:absolute;
    background-image:radial-gradient(ellipse at center,rgba(0,0,255,0.8),rgba(0,0,0,0.8));
    box-shadow:0 0 4px #00F;
}

#przod {
    transform:translateZ(50px);
    -webkit-transform:translateZ(50px);
}

#tyl {
    transform:translateZ(-50px);
    -webkit-transform:translateZ(-50px);
}

#lewo {
    transform:rotateY(-90deg) translateZ(50px);
    -webkit-transform:rotateY(-90deg) translateZ(50px);
}

#prawo {
    transform:rotateY(90deg) translateZ(50px);
    -webkit-transform:rotateY(90deg) translateZ(50px);
}

#gora {
    transform:rotateX(-90deg) translateZ(50px);
    -webkit-transform:rotateX(-90deg) translateZ(50px);
}

#dol {
    transform:rotateX(90deg) translateZ(50px);
    -webkit-transform:rotateX(90deg) translateZ(50px);
}

#rodzic > div > div {
    position:absolute;
    width:20px;
    height:20px;
    background-color:#FFF;
    border-radius:25%;
    box-shadow:0 0 4px 2px #000, 0 0 3px 1px #00F inset;
}

#przod > div:nth-child(1) { left:40px; top:40px; }

#tyl > div:nth-child(1) { left:10px; top:10px; }
#tyl > div:nth-child(2) { left:70px; bottom:10px; }

#lewo > div:nth-child(1) { left:10px; top:10px; }
#lewo > div:nth-child(2) { left:40px; top:40px; }
#lewo > div:nth-child(3) { left:70px; bottom:10px; }

#prawo > div:nth-child(1) { left:10px; top:10px; }
#prawo > div:nth-child(2) { left:70px; top:10px; }
#prawo > div:nth-child(3) { left:70px; bottom:10px; }
#prawo > div:nth-child(4) { left:10px; bottom:10px; }

#gora > div:nth-child(1) { left:10px; top:10px; }
#gora > div:nth-child(2) { left:70px; top:10px; }
#gora > div:nth-child(3) { left:70px; bottom:10px; }
#gora > div:nth-child(4) { left:10px; bottom:10px; }
#gora > div:nth-child(5) { left:40px; top:40px; }

#dol > div:nth-child(1) { left:10px; top:10px; }
#dol > div:nth-child(2) { left:70px; top:10px; }
#dol > div:nth-child(3) { left:10px; top:40px; }
#dol > div:nth-child(4) { left:70px; top:40px; }
#dol > div:nth-child(5) { left:70px; bottom:10px; }
#dol > div:nth-child(6) { left:10px; bottom:10px; }

@keyframes obrot
{
    0% { transform:rotateX(0) rotateZ(0); }
    100% { transform:rotateX(360deg) rotateZ(360deg); }
}

@-webkit-keyframes obrot
{
    0% { -webkit-transform:rotateX(0) rotateZ(0); }
    100% { -webkit-transform:rotateX(360deg) rotateZ(360deg); }
}
/*Koniec animacji - sześcian*/


.contactData {
    color: red;
    position: absolute;
    height: 425px;
    right: 0;
    width: 400px;
}

#nameAndSurnameContact {
    position: absolute;
    top: 20px;
    font-family: 'Patrick Hand', cursive;
    color: white;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
}

#adressContact {
    position: absolute;
    top: 80px;
    font-family: 'Patrick Hand', cursive;
    color: white;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
}

#streetContact {
    position: absolute;
    top: 142px;
    font-family: 'Patrick Hand', cursive;
    color: white;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
}

#phoneContact {
    position: absolute;
    top: 185px;
    font-family: 'Patrick Hand', cursive;
    color: white;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
}


#emailContact {
    position: absolute;
    top: 260px;
    font-family: 'Patrick Hand', cursive;
    color: white;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
}

#adressContact span, #phoneContact span, #emailContact span  {
    text-decoration: underline;
}

/*copyright i fanpage*/

.left_part_footer {
    height: 50px;
    width: 65%;
    float: left;
    position: relative;
}

.left_part_footer p {
    color: #C1C1C1;
    font-size: 16px;
    float: left;
    height: 40px;
    width: 65%;
    line-height: 40px;
    position: absolute;
    top: 415px;
    left: 35px;
    letter-spacing: 0.5px;
}

.right_part_footer {
    height: 50px;
    width: 35%;
    float: right;
    position: relative;
}

.right_part_footer .facebook {
    width: 40px;
    height: 40px;
    float: left;
    position: absolute;
    left: -8px;
    top: 415px;
}

.right_part_footer .vimeo {
    width: 40px;
    height: 40px;
    float: left;
    position: absolute;
    top: 415px;
    left: 33px;
}

.right_part_footer .pinterest {
    width: 40px;
    height: 40px;
    float: left;
    position: absolute;
    top: 415px;
    left: 74px;
}
.right_part_footer .twitter {
    width: 40px;
    height: 40px;
    float: left;
    position: absolute;
    top: 415px;
    left: 111px;
}






