* {
    box-sizing: border-box;
}

/*common*/
header, section, footer {
    width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/*header*/
#header {
    height: 90px;
    background-color: black;
    position: fixed;
    z-index: 2;
}

p a.nameAndSurname {
    float: left;
    line-height: 60px;
    text-decoration: none;
    font-weight: bold;
    color: #848484;
    margin-right: 10px;
    font-size: 18px;
}

p a.nameAndSurname:hover {
        color: white;
}

.logo {
    width: 75px;
    height: 75px;
    float: left;
}

.cvPdfButton {
    background-color: black;
    opacity: .6;
    position: absolute;
    top: 45px;
    left: 115px;
    height: 30px;
    width: 110px;
}

.cvPdfButton a {
    text-decoration: none;
    font-size: 15px;
    color: #848484;
    font-weight: bold;
}

.cvPdfButton:hover {
    border: 3px solid white;
}

.cvPdfButton a:hover {
    color: white;
}


nav ul.menuHeader {
    float: right;
}

.menuHeader {
    word-spacing: 10px;
}

.menuHeader li a:first-child {
    word-spacing: 2px;
}

.menuHeader li {
    display: inline-block;
    line-height: 85px;
    margin-right: 20px;
    position: relative;
}

.menuHeader li a {
    text-decoration: none;
    color: #848484;
    display: block;
    font-weight: bold;
}

.menuHeader li:hover > a {
    color: white;
}

.menuHeader ul {
    display: none;
    margin: 0;
    padding: 0;
    left: 0;
    position: absolute;
    width: 140px;
    top: 75px;
    background-color: black;
    text-align: center;
}

.menuHeader ul li {
    float: none;
    margin: 0;
    padding: 0;
}

.menuHeader li:hover > ul {
    display: block;
}


/*gallery*/
#gallery {
    height: 750px;
    z-index: 1;
}

.mySlides {
    width: 100%;
    height: 750px;
    background-size: cover;
}

/*attribiutes*/
#attribiutes {
    height: 500px;
    background-color: black;
    position: relative;
    z-index: 1;

}

#attribiutes h2 {
    font-size: 30px;
    color: red;
    position: absolute;
    top: 50px;
    left: 600px;
    font-weight: bold;
}


p.kreatywnosc {
    position: absolute;
    top: 140px;
    left: 125px;
    font-weight: bold;
    color: white;
}

.imgKreatywnosc {
    height: 150px;
    width: 150px;
    background-image: url("../images/kreatywnosc.png");
    background-size: cover;
    position: absolute;
    top: 200px;
    left: 100px;
    border: 2px solid white;
}

p.odpowiedzialnosc {
    position: absolute;
    top: 140px;
    left: 427px;
    font-weight: bold;
    color: white;
}

.imgOdpowiedzialnosc {
    height: 150px;
    width: 150px;
    background-image: url("../images/Odpowiedzialnosc.png");
    background-size: cover;
    position: absolute;
    top: 200px;
    left: 428px;
    border: 2px solid white;
}

p.motywacja {
    position: absolute;
    top: 140px;
    right: 435px;
    font-weight: bold;
    color: white;
}

.imgMotywacja {
    height: 150px;
    width: 150px;
    background-image: url("../images/Motywacja.png");
    background-size: cover;
    position: absolute;
    top: 200px;
    right: 428px;
    border: 2px solid white;
}

p.determinacja {
    position: absolute;
    top: 140px;
    right: 96px;
    font-weight: bold;
    color: white;
}

.imgDeterminacja {
    height: 150px;
    width: 150px;
    background-image: url("../images/Determinacja.png");
    background-size: cover;
    position: absolute;
    top: 200px;
    right: 100px;
    border: 2px solid white;
}


/*projects*/
#projects {
    height: 1000px;
    background-color: black;
    position: relative;
}

#projects h2 {
    font-size: 30px;
    color: red;
    position: absolute;
    top: 10px;
    left: 600px;
    font-weight: bold;
}

#projects .container {
    position: absolute;
    top: 100px;
    left: 75px;
}

.firstProjectDescription {
     float: left;
     height: 286px;
     width: 600px;
     border: 2px solid white;
}

.firstProjectDescription h3 {
    font-family: 'Patrick Hand', cursive;
    position: absolute;
    top: 75px;
    left: 180px;
    color: white;
    font-size: 25px;

}

.firstProjectDescription p{
    font-family: 'Kalam', cursive;
    position: absolute;
    top: 120px;
    left: 50px;
    color: white;
    width: 450px;
    text-align: left;
    text-indent: 40px;
}

.firstProjectDescription li {
    position: absolute;
    top: 200px;
    left: 200px;
}

.imgFirstDescription {
    background-image: url("../images/SitOnOurChairProject.png");
    float: left;
    height: 286px;
    width: 600px;
    border: 2px solid white;
}

.secondProjectDescription {
    float: left;
    height: 286px;
    width: 600px;
    border: 2px solid white;
    position: relative;
}

.imgSecondDescription {
    background-image: url("../images/memory-game.jpg");
    float: left;
    height: 286px;
    width: 600px;
    border: 2px solid white;
}

.secondProjectDescription h3 {
    font-family: 'Patrick Hand', cursive;
    position: absolute;
    top: 75px;
    left: 220px;
    color: white;
    font-size: 25px;
}

.secondProjectDescription p {
    font-family: 'Kalam', cursive;
    position: absolute;
    top: 120px;
    left: 50px;
    color: white;
    text-indent: 40px;
}

.secondProjectDescription li {
    position: absolute;
    top: 200px;
    left: 200px;
}

.thirdProjectDescription {
    float: left;
    height: 286px;
    width: 600px;
    border: 2px solid white;
    position: relative;
}

.thirdProjectDescription h3 {
    font-family: 'Patrick Hand', cursive;
    position: absolute;
    top: 75px;
    left: 220px;
    color: white;
    font-size: 25px;
}

.thirdProjectDescription p {
    font-family: 'Kalam', cursive;
    position: absolute;
    top: 120px;
    left: 50px;
    color: white;
    text-indent: 40px;
}

.thirdProjectDescription li {
    position: absolute;
    top: 200px;
    left: 200px;
}

.imgThirdDescription {
    background-image: url("../images/OrganizerApp.png");
    float: left;
    height: 286px;
    width: 600px;
    border: 2px solid white;
}

/*edukacja*/
#education {
    height: 1000px;
    background-color: black;
    position: relative;
}

#education h2 {
    position: absolute;
    font-size: 30px;
    color: red;
    top: 10px;
    left: 600px;
    font-weight: bold;
}

#education .container {
    position: absolute;
    top: 100px;
    left: 75px;
}

.firstSchoolDescription {
    float: left;
    height: 286px;
    width: 600px;
    border: 2px solid white;
}

.firstSchoolDescription h3 {
    font-family: 'Patrick Hand', cursive;
    position: absolute;
    top: 75px;
    left: 250px;
    color: white;
    font-size: 25px;

}

.firstSchoolDescription p{
    font-family: 'Kalam', cursive;
    position: absolute;
    top: 120px;
    left: 50px;
    color: white;
    width: 450px;
    text-align: left;
}

.firstSchoolDescription p span {
    text-decoration: underline;
    font-weight: bold;
}

.firstSchoolDescription li {
    position: absolute;
    top: 200px;
    left: 200px;
}

.imgFirstSchool {
    background-image: url("../images/codersLab.png");
    float: left;
    height: 286px;
    width: 600px;
    border: 2px solid white;
}

.secondSchoolDescription {
    float: left;
    height: 286px;
    width: 600px;
    border: 2px solid white;
    position: relative;
}

.imgSecondSchool {
    background-image: url("../images/UPV.png");
    float: left;
    height: 286px;
    width: 600px;
    border: 2px solid white;
}

.secondSchoolDescription h3 {
    font-family: 'Patrick Hand', cursive;
    position: absolute;
    top: 75px;
    left: 120px;
    color: white;
    font-size: 25px;
}

.secondSchoolDescription p {
    font-family: 'Kalam', cursive;
    position: absolute;
    top: 120px;
    left: 50px;
    color: white;
    text-indent: 40px;
}

.secondSchoolDescription li {
    position: absolute;
    top: 200px;
    left: 200px;
}

.thirdSchoolDescription {
    float: left;
    height: 286px;
    width: 600px;
    border: 2px solid white;
    position: relative;
}

.thirdSchoolDescription h3 {
    font-family: 'Patrick Hand', cursive;
    position: absolute;
    top: 75px;
    left: 135px;
    color: white;
    font-size: 25px;
}

.thirdSchoolDescription p {
    font-family: 'Kalam', cursive;
    position: absolute;
    top: 120px;
    left: 50px;
    color: white;
    text-indent: 40px;
}

.thirdSchoolDescription li {
    position: absolute;
    top: 200px;
    left: 200px;
}

.imgThirdSchool {
    background-image: url("../images/UP.png");
    float: left;
    height: 286px;
    width: 600px;
    border: 2px solid white;
}

/*UMIEJĘTNOŚCI*/
#skills {
    height: 400px;
    background-color: black;
    position: relative;
}

#skills h2 {
    color: red;
    position: absolute;
    font-size: 30px;
    top: 10px;
    left: 600px;
    font-weight: bold;
}

/*animacja pasku postępu - początek kodu*/
.progress{
    position: relative;
    height: 25px;
    margin: 20px 0 20px 0;
    background: #bdc3c7;
    width: 200px;
}

.one{
    border-radius: 25px;
}
.two{
    box-shadow        : inset 0 1px 1px rgba(0,0,0,0.3);
}
.three{
    padding: 5px;
}

.progress > span {
    display: block;
    height: 100%;
    background-color: rgb(230, 126, 34);
    box-shadow:
            inset 0 2px 9px  rgba(255,255,255,0.3),
            inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}
.progress.one > span{
    border-radius: 25px;
    background-color: rgb(52, 73, 94);
}
.progress.two > span{
    background-color: rgb(52, 152, 219);
}
.progress.three > span{
    background-color: rgb(43,194,83);
}
.progress.four > span:after{
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image:
            -webkit-gradient(linear, 0 0, 100% 100%,
            color-stop(.25, rgba(255, 255, 255, .2)),
            color-stop(.25, transparent), color-stop(.5, transparent),
            color-stop(.5, rgba(255, 255, 255, .2)),
            color-stop(.75, rgba(255, 255, 255, .2)),
            color-stop(.75, transparent), to(transparent)
            );
    z-index: 1;
    -webkit-background-size: 50px 50px;
    -webkit-animation: move 2s linear infinite;
    overflow: hidden;
}
.progress.five > span{
    background-color: rgb(155, 89, 182);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(155, 89, 182)),
            color-stop(1, rgb(155, 89, 182))
    );
}
.progress.five > span:after{
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image:
            -webkit-gradient(linear, 0 0, 100% 100%,
            color-stop(.25, rgba(255, 255, 255, .2)),
            color-stop(.25, transparent), color-stop(.5, transparent),
            color-stop(.5, rgba(255, 255, 255, .2)),
            color-stop(.75, rgba(255, 255, 255, .2)),
            color-stop(.75, transparent), to(transparent)
            );
    z-index: 1;
    -webkit-background-size: 100px 100px;
    -webkit-animation: move 2s linear infinite;
    overflow: hidden;
}
@-webkit-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}
/*animacja paska postępu - koniec kodu*/

.firstAnimationSkills {
    position: absolute;
    top: 265px;
    left: 100px;
}

.secondAnimationSkills {
    position: absolute;
    top: 125px;
    left: 420px;
}

.thirdAnimationSkills {
    position: absolute;
    top: 205px;
    left: 725px;
}

.fourthAnimationSkills {
    position: absolute;
    top: 150px;
    right: 100px;
}

.firstAnimationSkills p, .secondAnimationSkills p, .thirdAnimationSkills p, .fourthAnimationSkills p {
    font-family: 'Patrick Hand', cursive;
    font-weight: 700;
    color: white;
    font-size: 20px;
}


/*Mapa*/
#maps {
    height: 450px;
}

#mapsKontener {
    width: 100%;
    height: 450px;
}







/*Stopka kontaktowa*/
#contact {
    height: 1000px;
    background-color: grey;
}






