* {
    box-sizing: border-box;
}

/*common*/
header, section, footer {
    width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/*header*/
#header {
    height: 80px;
    background-color: black;
    position: fixed;
    opacity: .6;
}

p a.nameAndSurname {
    float: left;
    line-height: 75px;
    text-decoration: none;
    font-weight: bold;
    color: #848484;
    margin-right: 10px;
}

p a.nameAndSurname:hover {
        color: white;
}

.logo {
    width: 75px;
    height: 75px;
    float: left;

}

nav ul.menuHeader {
    float: right;
}

.menuHeader li {
    display: inline-block;
    line-height: 75px;
    margin-right: 10px;
    position: relative;
}

.menuHeader li a {
    text-decoration: none;
    color: #848484;
    display: block;
}

.menuHeader li:hover > a {
    color: white;
}

.menuHeader ul {
    display: none;
    margin: 0;
    padding: 0;
    left: 0;
    position: absolute;
    width: 140px;
    top: 75px;
    background-color: black;
    text-align: center;
}

.menuHeader ul li {
    float: none;
    margin: 0;
    padding: 0;
}

.menuHeader li:hover > ul {
    display: block;
}


/*gallery*/
#gallery {
    background-color: darkblue;
    height: 750px;
    /*z-index: 2;*/
}

.mySlides {
    width: 100%;
    height: 750px;
    background-size: cover;
}




#attribiutes {
    height: 1000px;
    background-color: yellow;
}










#projects {
    height: 1000px;
    background-color: red;
}

#education {
    height: 1000px;
    background-color: orange;
}

#skills {
    height: 1000px;
    background-color: cadetblue;
}

#maps {
    height: 1000px;
    background-color: darkblue;
}

#contact {
    height: 1000px;
    background-color: grey;
}